
:root {
    --hero-bg-color: rgba(47, 48, 58, 1);
    --logo-color: rgba(0, 0, 0, 1);
    --primary-text-color: rgba(33,33,33,1);
    --text-color: rgba(117, 117, 117, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --primary-bg-color: rgba(255, 255, 255, 1);
    --footer-mail-phone-color: rgba(255, 255, 255, 0.6);
    --footer-bg-color: rgba(47, 48, 58, 1);
    --bg-our-team: rgba(245, 244, 250, 1);
}
/* Body */
.page {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
/* Logo */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-color); 
}
.accent {
    color:var(--accent-color);
}

/* Site nav */

.header .site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header .site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
   color:var(--accent-color); 
}
/* mail & phone */
.link-contact {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);  
}

/* Герой */
/* Кнопки */
.button {
    font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
    cursor: pointer;
}
 /* Кнопка героя */
.hero-title {
    background-color: var(--hero-bg-color);
    color: var(--primary-bg-color);                 
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
}

.hero .primary-button {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
}
.hero .primary-button:hover,
.hero .primary-button:focus {
 background-color: var(--accent-color);
    color: var(--primary-bg-color);   
}

/* Другорядні кнопки */
.secondary.button {
background-color: var(--bg-our-team);
color:var(--primary-text-color);
}
.secondary.button.active {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}
/* Скриті заголовки + заголовки h2 */
.title.hide,
.title.image,
.title.comand {
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}
/* Переваги */
.title.benefits {
    color: var(--primary-text-color);
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
/* Опис переваг */
.text.description {
    color: var(--text-color); 
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
/* Команда */
.title.member {
   font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em; 
}
/* Посада */
.job.description {
   color: var(--text-color);
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}
/* Проекти */
.title.project {
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;  
}
.tip.description {
    color: var(--text-color);
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}

/* Адреса */
.footer {
    background-color: var(--footer-bg-color);
}
.logo-footer {
    
}
.logo-footer {
    color: var(--primary-bg-color);
   font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em; 
}
.address-link {
    color: var(--primary-bg-color);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.contact-link {
color: var(--footer-mail-phone-color);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.address .link:hover,
.address .link:focus {
color: var(--accent-color);
}


/* Колір основного тексту rgba(33,33,33,1) */
/* Другорядний колір тексту rgba(117, 117, 117, 1); */
/* Білий rgba(255, 255, 255, 1); */
/* Акцент rgba(33, 150, 243, 1); */
/* Background footer rgba(47, 48, 58, 1); */
/* Background секції Наша команда rgba(245, 244, 250, 1); */
/* Колір лого rgba(0, 0, 0, 1) */
/* Колір мейла та телефона у футері rgba(255, 255, 255, 0.6) */